/*=== emmet ===*/
    .bdrs-n { border-radius: 0 !important;}
    .bgsz-cv {background-size:cover;}  
    .pos-a { position: absolute !important; }
    .pos-r { position: relative !important; }



/*=== plugin modified ===*/
    .owl-theme .owl-dots .owl-dot span { width: 50px; }
    .owl-dots{ position: absolute; bottom: 0; left: 50%; transform: translateX(-50%); }
    .owl-dot { border: none !important; outline: none !important; }



/*=== common ===*/
    ._bgc-main { background-color: #FFC600;}
    ._bgc-dark { background-color: #373737;}

    ._c-red { color: #ff3300; }

    ._h400 { height: 400px; }
    ._h280 { height: 280px; }
    
    .row._row10 { margin-left: -10px; margin-right: -10px; }
    .row._row10 > [class*=col-] { padding-left: 10px; padding-right: 10px; }
    .row._row5 { margin-left: -5px; margin-right: -5px; }
    .row._row5 > [class*=col-] { padding-left: 5px; padding-right: 5px; }

    ._btn-coffee { background-color: #430C0C; color: #FFC600; font-size: 18px; padding: .25rem .75rem; }
    ._btn-coffee:hover { background-color: #310606; color: #FFC600; }

    .ar-5-4 { position: relative; width: 100%; padding-top: 80%;}
    .ar-1-1 { position: relative; width: 100%; padding-top: 100%;}
    .ar-4-5 { position: relative; width: 100%; padding-top: 125%;}
    .ar-cont { position: absolute; top: 0; left: 0; bottom: 0; right: 0;}

    .loc-9 { top: 0; right: 0; }
    .loc-6 { top: 50%; right: 0; transform: translateY(-50%); }
    .loc-4 { top: 50%; left: 0; transform: translateY(-50%); }
    .loc-3 { bottom: 0; right: 0; }
    ._flex-center { display: flex; align-items: center; justify-content: center; }



/*=== header ===*/
    header ._logo { height: 100px; }
    ._nav-top { padding: 15px 0; background-color: #000; }
    ._nav-main { display: none; position: fixed; top: 0; left: 0; right: 0; background-color: #ffc600; z-index: 10; padding: 50px 0 0 0; box-shadow: 0 2px 16px #000; }
    ._navbar { padding: 0; display: -ms-flexbox; display: flex; flex-wrap: nowrap; align-items: center; justify-content: space-between; flex-direction: column; list-style: none; padding-left: 0; margin-bottom: 0; }
    ._navbar > * {  white-space: nowrap; width: 100%; border-top: 1px solid #b99527; }

    ._navbar ._btn-navlink { padding: 12px 8px; font-size: 16px; font-weight: 600; color: black; text-decoration: none; cursor: pointer; border-radius: 0; width: 100%; }
    ._navbar ._btn-navlink:hover { background-color: #8d0809; color: #fff; }

    ._navbar ._slidedown > ._slidedown-menu { display: none; position: absolute; left: 0; bottom: 0; transform: translateY(100%); width: 100%; min-width: 100%; margin: 0; transition: .25s bottom; background-color: #626262; z-index: -1; }
    ._navbar ._slidedown:hover > ._slidedown-btn { background-color: #8d0809; color: #fff; }

    @media( min-width: 768px ){ 
        ._navbar > * { width: auto; border: 0; }
        ._nav-main { display: block !important; position: relative; padding: 0; background-color: #ffc600; }
        ._navbar { padding: 0 1rem; flex-direction: row; overflow-x: auto; }
        ._navbar ._slidedown-btn::after{ content: "\f078"; font-family: "Font Awesome 5 Free"; font-weight: 900; font-size: 0.75em; }
    }
    @media( min-width: 992px ){ 
        ._navbar ._btn-navlink { padding: 12px 14px; font-size: 18px; }
    }



/*=== footer ===*/
    ._footer-top { background-color: #343434; color: #fff; font-size: 14px; line-height: 1.7; padding: 30px 0; }
    ._footer-top ._title { font-size: 15px; color: #f9c519; margin-bottom: 6px; }

    ._footer-middle { background-image: linear-gradient( to bottom, #202020, #000 ); }

    ._footer-bottom { background-color: #000000; }

    ._footer-mobile { position: fixed; bottom: 0; left: 0; right: 0; border-top: 1px solid #aaa; }
    ._footer-mobile ._menu-row { position: relative; align-items: center; text-align: center;  background-image: linear-gradient(to top,#666 0%,#252525 100%); color: #fff; padding: 10px 0; letter-spacing: 2px; font-weight: bold; line-height: 1; }
    ._footer-mobile ._menu-row > [class*=col-] > img { margin-bottom: 6px; width: 30px; }
    ._footer-mobile ._menu-row > *:not(:last-child)::after { content: ""; position: absolute; right: 0; top: 50%; transform: translateY(-50%); width: 2px; background-color: #aaa; height: 70%; }



/*=== index ===*/
    #index ._main { background-color: #000;}
    #index ._section { padding: 10px 0; background-color: #000; }
    @media (min-width: 992px) {
        #index ._main { background-color: #2A231E;}
        #index ._section { padding: 10px; }
    }

    #index ._section-head { background-color: #ffc600; color: #000; text-align: center; padding: 10px; }
    #index ._section-head .title { display: inline-block; font-weight: bold; font-size: 24px; margin: 0; }
    #index ._section-head .subtitle { display: block; font-weight: bold; font-size: 18px; letter-spacing: 0; margin-left: 10px; }
    @media (min-width: 576px) {
        #index ._section-head .subtitle { display: inline; }
    }

    #index ._section-body { padding: 10px 0; }

    #index ._ann-container { display: flex; align-items: center; padding: 10px 0; }
    #index ._ann-container > ._ann-title { color: #f9c519; font-size: 18px; font-weight: bold; flex-grow: 0; flex-shrink: 99; }
    #index ._ann-container > ._ann-marquee { flex-grow: 99; flex-shrink: 0; margin-left: 0.25rem; }
    #index ._ann-container > ._ann-marquee a { color: white; text-decoration: none; }
    #index ._ann-container._bigwin { padding: 15px 0; width: calc(100% - 35px); margin-left: 35px; border: 2px #FFCD13 solid; border-radius: 4px; background: linear-gradient(#000000, #3a3a3a); box-shadow: inset 0px 0px 7px rgba(0, 0, 0, 0.65); }
    
    @media (min-width: 768px) {
        #index ._ann-container._bigwin { width: 80%; margin: auto; }
    }

    #index [class*=_card-section] ._text-gold-m { display: block; text-decoration: none; }
    @media (max-width: 575px) {
        #index [class*=_card-section] ._border-gold-m { border: 1px solid #ff0; }
        #index [class*=_card-section] ._text-gold-m { font-size: 18px; font-weight: bold; color: #f9c519; padding: .5rem; text-align: center; margin-top: 10px; }
    }

    #index ._card-section1 { border-radius: 0; margin-bottom: 20px; }
    #index ._card-section1 ._card-img { border-radius: 0; margin-bottom: 5px; }
    #index ._card-section1 ._card-text { display: block; font-size: 18px; font-weight: bold; color: #f9c519; text-decoration: none; }
    @media (min-width: 576px) {
        #index ._card-section1 { border: 5px solid #5F4216; background-color: #5F4216; margin-bottom: 10px; }
        #index ._card-section1 ._card-img { margin-bottom: 5px; }
        #index ._card-section1 ._card-body { border: 0; padding: 1rem; text-align: left; }
        #index ._card-section1 ._card-text { font-size: 22px; margin-bottom: 1rem; pointer-events: none; }
    }
    @media (min-width: 1200px) {
        #index ._card-section1 ._card-text { font-size: 24px; }
    }
    
    #index ._card-section2 { border-radius: 0; margin-bottom: 20px; }
    @media (min-width: 576px) {
        #index ._card-section2 { border: 4px solid #62572b; margin-bottom: 10px; }
    }


    #index ._card-section2:hover { border-color: #f9c519; }
    #index ._card-section2 ._btn-coffee { background: linear-gradient( 135deg, transparent 25%, #430C0C 25%, #430C0C 100%); transition: none; padding-left: 2.75rem; border-radius: 0; border: 0; }
    #index ._card-section2:hover ._btn-coffee { background: linear-gradient( 135deg, transparent 25%, #6e0000 25%, #6e0000 100%); }

    #index ._card-section3 { margin-bottom: 20px; }
    #index ._card-section3 ._card-img { border-radius: 12px; overflow: hidden; }
    @media (min-width: 576px) {
        #index ._card-section3 ._card-text { display: block; position: relative; background: linear-gradient( 135deg, #555, #aaa ); margin: -15% -2px 0 -2px; padding: 10px; font-size: 20px; font-weight: bold; text-align: center; color: #000; }
        #index ._card-section3:hover ._card-text { color: #f0f0f0; text-decoration: none; }
    }


    #index ._card-section5 { position: relative; margin-bottom: 20px; }
    @media (min-width: 576px) {
        #index ._card-section5 ._card-img { overflow: hidden; border-radius: 6px; border: 5px solid #f0b65a; }
        #index ._card-section5 ._card-text { position: absolute; bottom: 0; width: calc(100% - 10px); background: rgba(0,0,0,.5); padding: 10px; font-size: 28px; font-weight: bold; color: #f9c519; margin: 5px; }
    }

/*=== jackpot counter ===*/
    ._jackpot-container { position: absolute; display: flex; align-items: center; justify-content: flex-end; top: 62.5%; left: 15%; width: 73.5%; }
    ._jackpot-container > img { position: absolute; left: 0; top: 50%; transform: translateY(-50%); width: 25%; }
    ._jackpot-container ._yuan { padding: 0 0.5vw; font-size: 1.5em; font-weight: 600; text-align: center; background: -webkit-linear-gradient(top, #c59432 0, #e6d5b3 100%); -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
    ._jackpot-counter { display: inline-block; display: -webkit-box; list-style: none; margin-bottom: 0; padding-left: 0; }
    ._jackpot-counter .num > span { position: relative; display: block; width: 30px; height: 40px; line-height: 1.1; font-size: 2em; color: #000; font-weight: 600; text-align: center; overflow: hidden; background: linear-gradient(#a17b30, #c2922a, #e4d0a3, #a17b30); border: 1px #000 solid; box-shadow: inset 0 0 6px rgba(0, 0, 0, .5) }
    ._jackpot-counter .num > span > i { position: absolute; top: 0; left: 0; display: block; height: 100%; width: 100%; font-style: normal; -moz-transition: top .3s; -o-transition: top .3s; -webkit-transition: top .3s; transition: top .3s }
    
    @media (min-width: 992px) {
        ._jackpot-container { left: 14.5%; }
        ._jackpot-container > img { width: 30%; }
    }
    @media (min-width: 1200px) {
        ._jackpot-container ._yuan { padding: 0 8px; font-size: 2em; }
        ._jackpot-counter .num > span { width: 40px; height: 50px; font-size: 2.5em; }
    }

    ._jackpot-counter .num > span.n0 > i:nth-child(1) { top: calc(0 * 100%) }
    ._jackpot-counter .num > span.n0 > i:nth-child(2) { top: calc(-1 * 100%) }
    ._jackpot-counter .num > span.n0 > i:nth-child(3) { top: calc(-2 * 100%) }
    ._jackpot-counter .num > span.n0 > i:nth-child(4) { top: calc(-3 * 100%) }
    ._jackpot-counter .num > span.n0 > i:nth-child(5) { top: calc(-4 * 100%) }
    ._jackpot-counter .num > span.n0 > i:nth-child(6) { top: calc(-5 * 100%) }
    ._jackpot-counter .num > span.n0 > i:nth-child(7) { top: calc(-6 * 100%) }
    ._jackpot-counter .num > span.n0 > i:nth-child(8) { top: calc(-7 * 100%) }
    ._jackpot-counter .num > span.n0 > i:nth-child(9) { top: calc(-8 * 100%) }
    ._jackpot-counter .num > span.n0 > i:nth-child(10) { top: calc(-9 * 100%) }

    ._jackpot-counter .num > span.n1 > i:nth-child(1) { top: calc(1 * 100%) }
    ._jackpot-counter .num > span.n1 > i:nth-child(2) { top: calc(0 * 100%) }
    ._jackpot-counter .num > span.n1 > i:nth-child(3) { top: calc(-1 * 100%) }
    ._jackpot-counter .num > span.n1 > i:nth-child(4) { top: calc(-2 * 100%) }
    ._jackpot-counter .num > span.n1 > i:nth-child(5) { top: calc(-3 * 100%) }
    ._jackpot-counter .num > span.n1 > i:nth-child(6) { top: calc(-4 * 100%) }
    ._jackpot-counter .num > span.n1 > i:nth-child(7) { top: calc(-5 * 100%) }
    ._jackpot-counter .num > span.n1 > i:nth-child(8) { top: calc(-6 * 100%) }
    ._jackpot-counter .num > span.n1 > i:nth-child(9) { top: calc(-7 * 100%) }
    ._jackpot-counter .num > span.n1 > i:nth-child(10) { top: calc(-8 * 100%) }

    ._jackpot-counter .num > span.n2 > i:nth-child(1) { top: calc(2 * 100%) }
    ._jackpot-counter .num > span.n2 > i:nth-child(2) { top: calc(1 * 100%) }
    ._jackpot-counter .num > span.n2 > i:nth-child(3) { top: calc(0 * 100%) }
    ._jackpot-counter .num > span.n2 > i:nth-child(4) { top: calc(-1 * 100%) }
    ._jackpot-counter .num > span.n2 > i:nth-child(5) { top: calc(-2 * 100%) }
    ._jackpot-counter .num > span.n2 > i:nth-child(6) { top: calc(-3 * 100%) }
    ._jackpot-counter .num > span.n2 > i:nth-child(7) { top: calc(-4 * 100%) }
    ._jackpot-counter .num > span.n2 > i:nth-child(8) { top: calc(-5 * 100%) }
    ._jackpot-counter .num > span.n2 > i:nth-child(9) { top: calc(-6 * 100%) }
    ._jackpot-counter .num > span.n2 > i:nth-child(10) { top: calc(-7 * 100%) }

    ._jackpot-counter .num > span.n3 > i:nth-child(1) { top: calc(3 * 100%) }
    ._jackpot-counter .num > span.n3 > i:nth-child(2) { top: calc(2 * 100%) }
    ._jackpot-counter .num > span.n3 > i:nth-child(3) { top: calc(1 * 100%) }
    ._jackpot-counter .num > span.n3 > i:nth-child(4) { top: calc(0 * 100%) }
    ._jackpot-counter .num > span.n3 > i:nth-child(5) { top: calc(-1 * 100%) }
    ._jackpot-counter .num > span.n3 > i:nth-child(6) { top: calc(-2 * 100%) }
    ._jackpot-counter .num > span.n3 > i:nth-child(7) { top: calc(-3 * 100%) }
    ._jackpot-counter .num > span.n3 > i:nth-child(8) { top: calc(-4 * 100%) }
    ._jackpot-counter .num > span.n3 > i:nth-child(9) { top: calc(-5 * 100%) }
    ._jackpot-counter .num > span.n3 > i:nth-child(10) { top: calc(-6 * 100%) }

    ._jackpot-counter .num > span.n4 > i:nth-child(1) { top: calc(4 * 100%) }
    ._jackpot-counter .num > span.n4 > i:nth-child(2) { top: calc(3 * 100%) }
    ._jackpot-counter .num > span.n4 > i:nth-child(3) { top: calc(2 * 100%) }
    ._jackpot-counter .num > span.n4 > i:nth-child(4) { top: calc(1 * 100%) }
    ._jackpot-counter .num > span.n4 > i:nth-child(5) { top: calc(0 * 100%) }
    ._jackpot-counter .num > span.n4 > i:nth-child(6) { top: calc(-1 * 100%) }
    ._jackpot-counter .num > span.n4 > i:nth-child(7) { top: calc(-2 * 100%) }
    ._jackpot-counter .num > span.n4 > i:nth-child(8) { top: calc(-3 * 100%) }
    ._jackpot-counter .num > span.n4 > i:nth-child(9) { top: calc(-4 * 100%) }
    ._jackpot-counter .num > span.n4 > i:nth-child(10) { top: calc(-5 * 100%) }

    ._jackpot-counter .num > span.n5 > i:nth-child(1) { top: calc(5 * 100%) }
    ._jackpot-counter .num > span.n5 > i:nth-child(2) { top: calc(4 * 100%) }
    ._jackpot-counter .num > span.n5 > i:nth-child(3) { top: calc(3 * 100%) }
    ._jackpot-counter .num > span.n5 > i:nth-child(4) { top: calc(2 * 100%) }
    ._jackpot-counter .num > span.n5 > i:nth-child(5) { top: calc(1 * 100%) }
    ._jackpot-counter .num > span.n5 > i:nth-child(6) { top: calc(0 * 100%) }
    ._jackpot-counter .num > span.n5 > i:nth-child(7) { top: calc(-1 * 100%) }
    ._jackpot-counter .num > span.n5 > i:nth-child(8) { top: calc(-2 * 100%) }
    ._jackpot-counter .num > span.n5 > i:nth-child(9) { top: calc(-3 * 100%) }
    ._jackpot-counter .num > span.n5 > i:nth-child(10) { top: calc(-4 * 100%) }

    ._jackpot-counter .num > span.n6 > i:nth-child(1) { top: calc(6 * 100%) }
    ._jackpot-counter .num > span.n6 > i:nth-child(2) { top: calc(5 * 100%) }
    ._jackpot-counter .num > span.n6 > i:nth-child(3) { top: calc(4 * 100%) }
    ._jackpot-counter .num > span.n6 > i:nth-child(4) { top: calc(3 * 100%) }
    ._jackpot-counter .num > span.n6 > i:nth-child(5) { top: calc(2 * 100%) }
    ._jackpot-counter .num > span.n6 > i:nth-child(6) { top: calc(1 * 100%) }
    ._jackpot-counter .num > span.n6 > i:nth-child(7) { top: calc(0 * 100%) }
    ._jackpot-counter .num > span.n6 > i:nth-child(8) { top: calc(-1 * 100%) }
    ._jackpot-counter .num > span.n6 > i:nth-child(9) { top: calc(-2 * 100%) }
    ._jackpot-counter .num > span.n6 > i:nth-child(10) { top: calc(-3 * 100%) }

    ._jackpot-counter .num > span.n7 > i:nth-child(1) { top: calc(7 * 100%) }
    ._jackpot-counter .num > span.n7 > i:nth-child(2) { top: calc(6 * 100%) }
    ._jackpot-counter .num > span.n7 > i:nth-child(3) { top: calc(5 * 100%) }
    ._jackpot-counter .num > span.n7 > i:nth-child(4) { top: calc(4 * 100%) }
    ._jackpot-counter .num > span.n7 > i:nth-child(5) { top: calc(3 * 100%) }
    ._jackpot-counter .num > span.n7 > i:nth-child(6) { top: calc(2 * 100%) }
    ._jackpot-counter .num > span.n7 > i:nth-child(7) { top: calc(1 * 100%) }
    ._jackpot-counter .num > span.n7 > i:nth-child(8) { top: calc(0 * 100%) }
    ._jackpot-counter .num > span.n7 > i:nth-child(9) { top: calc(-1 * 100%) }
    ._jackpot-counter .num > span.n7 > i:nth-child(10) { top: calc(-2 * 100%) }

    ._jackpot-counter .num > span.n8 > i:nth-child(1) { top: calc(8 * 100%) }
    ._jackpot-counter .num > span.n8 > i:nth-child(2) { top: calc(7 * 100%) }
    ._jackpot-counter .num > span.n8 > i:nth-child(3) { top: calc(6 * 100%) }
    ._jackpot-counter .num > span.n8 > i:nth-child(4) { top: calc(5 * 100%) }
    ._jackpot-counter .num > span.n8 > i:nth-child(5) { top: calc(4 * 100%) }
    ._jackpot-counter .num > span.n8 > i:nth-child(6) { top: calc(3 * 100%) }
    ._jackpot-counter .num > span.n8 > i:nth-child(7) { top: calc(2 * 100%) }
    ._jackpot-counter .num > span.n8 > i:nth-child(8) { top: calc(1 * 100%) }
    ._jackpot-counter .num > span.n8 > i:nth-child(9) { top: calc(0 * 100%) }
    ._jackpot-counter .num > span.n8 > i:nth-child(10) { top: calc(-1 * 100%) }

    ._jackpot-counter .num > span.n9 > i:nth-child(1) { top: calc(9 * 100%) }
    ._jackpot-counter .num > span.n9 > i:nth-child(2) { top: calc(8 * 100%) }
    ._jackpot-counter .num > span.n9 > i:nth-child(3) { top: calc(7 * 100%) }
    ._jackpot-counter .num > span.n9 > i:nth-child(4) { top: calc(6 * 100%) }
    ._jackpot-counter .num > span.n9 > i:nth-child(5) { top: calc(5 * 100%) }
    ._jackpot-counter .num > span.n9 > i:nth-child(6) { top: calc(4 * 100%) }
    ._jackpot-counter .num > span.n9 > i:nth-child(7) { top: calc(3 * 100%) }
    ._jackpot-counter .num > span.n9 > i:nth-child(8) { top: calc(2 * 100%) }
    ._jackpot-counter .num > span.n9 > i:nth-child(9) { top: calc(1 * 100%) }
    ._jackpot-counter .num > span.n9 > i:nth-child(10) { top: calc(0 * 100%) }

